/* single location stuff here */

/* .profileMapContainer {
  display: flex;
  align-items: center;
  padding: 15%;
} */

#map {
  display: flex;
  padding: 5%;
  align-items: flex-end;
}
.stars {
  display: flex;
  align-self: center;
  justify-self: center;
}
.stars img {
  width: 33px;
  height: 33px;
}

.single-location-view-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 75%;
  margin: 50px;
}

.single-location-view-img {
  height: 100%;
  width: 100%;
}

/* .single-location-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.add-review-button {
  font-size: 1.3em;
}
.add-review-form {
  display: flex;
  justify-content: space-evenly;
}
.description-container {
  font-size: 1.4em;
  display: flex;
}

.location-description {
  align-self: flex-end;
}

.location-name {
  margin: 0;
  margin-top: 3%;
  margin-left: 2%;
  margin-bottom: 1.5%;
  margin-right: 10%;
  font-size: 1.8em;
}

.popup-header {
  display: flex;
  justify-content: space-between;
}

/* .popup-main {
  width: 35%;
} */

#map-message {
  background-color: cornflowerblue;
  width: max-content;
  color: white;
  font-size: 1.2em;
  padding: 5%;
  border-radius: 12px;
}

.mapboxgl-popup {
  width: 35%;
  /* color: #dadada */
}

.location-review {
  display: flex;
  justify-content: space-between;
}

.location-review-text {
  width: 33%;
}
