body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#map {
  height: 100vh;
  width: 100vw;
}

.allProfilesContainer {
  display: flex;
  flex-direction: column;
}

.profileSampleView {
  display: flex;
  background: rgb(199, 196, 196);
  border: dashed black;
  justify-content: space-around;
  border-radius: 10px;
}

.profileContainer {
  background: rgb(221, 221, 244);
  display: flex;
  flex-direction: row;
}
.profileMapContainer {
  background-color: cornflowerblue;
  height: 500px;
  width: 500px;
}

.profilePagePhoto {
  background: rgb(249, 111, 111);
  border-radius: 150px;
}

.profileBio {
  font-style: italic;
}
