@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: sans-serif;
  padding: 0;
  padding-top: 65px;
  margin: 0;
  background-color: #ffffff;
  /* background-image: linear-gradient(
    to bottom right,
    rgb(228, 228, 228),
    rgb(255, 255, 255)
  ); */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.marker {
  object-fit: fill;
  /* object-position: 100px 50%; */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #337a8c;
  height: 75px;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 5;
}

.nav-bar-text {
  color: white;
}

.nav-logo {
  background-color: 31cb71;
}
.nav-group {
  display: flex;
}

.nav-title {
  color: white;
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 700;
  margin: 0;
  margin-left: 20px;
}

.nav-logo {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.display-img {
  height: 100px;
  width: 175px;
}

.placeholder {
  background-color: grey;
}

.file-label {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.exit-add-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-bottom: solid #53658a 1px;
}

.exit-btn {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 5px;
  color: white;
}

.exit-btn:hover {
  color: red;
  text-decoration: none;
}

.custom-file-label {
  display: unset;
}

.modal-content {
  height: auto;
  display: flex;
  flex-direction: column;
  /* background-color: #337a8c; */
}

.rating-text {
  font-family: 'Roboto';
  font-size: 1.5em;
  font-weight: 600;
}

.add-post-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address-text {
  font-family: 'Roboto';
  font-size: 1.1em;
  font-weight: 500;
  font-style: italic;
}

.allProfilesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}

.profileSampleView {
  display: flex;
  background: rgb(199, 196, 196);
  border: dashed black;
  justify-content: space-around;
  border-radius: 10px;
}

.profileContainer {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  height: 100%;
  margin: 5px;
}

.profileImgContentContainer {
  /* display: flex; */
  padding: 20px;
  width: 50%;
  background-color: #f0f0f0;
}

.sticky {
  position: fixed;
  /* left: 60.2%; */
  left: 52%;
  top: 20%;
}

.profileMapContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 45%;
  padding: 15%;
  border-radius: 20px;
  margin: 25px;
  margin-top: 65px;
  object-fit: cover;
}

.profileInfo {
  display: flex;
  /* justify-content: space-around; */
}
.profile-follows {
  display: flex;
}

.first-list {
  margin: 0;
  margin-left: 0;
  margin-right: 25px;
  margin-top: 10px;
  color: black;
  font-family: 'Roboto';
  font-weight: 400;
}

.profile-info-text {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  color: black;
  font-family: 'Roboto';
  font-weight: 400;
}

.profilePagePhoto {
  background: #337a8c;
  border-radius: 150px;
  border-style: solid;
  border-width: 7px;
  border-color: #337a8c;
  height: 5%;
}
.profilePagePhoto-Community {
  border-radius: 25px;
  border-style: solid;
  border-width: 7px;
  background: #337a8c;
  border-color: #337a8c;
  display: flex;
  height: 250px;
  width: auto;
}

.followButton {
  background: rgba(60, 60, 232, 0.749);
  border-radius: 25px;
  height: 33px;
  width: 60px;
  color: black;
  margin-bottom: 15px;
  margin-top: 5px;
}

.follow-button {
  background-color: #3d4a63;
  border-radius: 150px;
  margin-bottom: 12px;
  margin-top: 5px;
}

.profile-username {
  margin: 0;
  font-family: 'Roboto';
  color: #5d5d5d;
  font-size: 1em;
}

.empty-feed {
  color: #323232;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 2em;
  margin-top: 5%;
}

.profile-name {
  margin: 0;
  margin-top: 5px;
  font-family: 'Roboto';
  color: #323232;
  font-weight: 600;
  font-size: 2em;
}

.profileBio {
  font-family: 'Roboto';
  font-weight: 500;
  color: #323232;
  margin: 0;
  height: auto;
  padding-bottom: 10px;
  margin-top: 2%;
}

.underline {
  border-bottom: solid #3d4a63 1.5px;
}

.contentContainer {
  height: auto;
  width: 100%;
}

.buttonContainer {
  border-bottom: solid #3d4a63 3px;
}

.profileFeedButton {
  height: 50px;
  color: #323232;
  font-size: 1.2em;
  font-family: 'Roboto';
  font-weight: 600;
}

.profileFeedButton:hover {
  border-bottom: solid #323232 2px;
  color: #00d290;
  text-decoration: none;
}

.selected-feed {
  border-bottom: solid #00d290 4px;
  color: #323232;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5.5px;
}

.following-header {
  margin: 0;
  font-family: 'Roboto';
  font-size: 2em;
  color: #323232;
  font-weight: 600;
  margin-top: 2%;
  margin-left: 3.5%;
}

.profile-preview-container {
  display: flex;
  cursor: pointer;
  margin: 3%;
  background-color: #fff;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.main-profile-preview-container {
  display: flex;
  cursor: pointer;
  margin: 1%;
  width: 75%;
  background-color: #fff;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.profile-preview-name {
  font-family: 'Roboto';
  font-weight: 600;
  color: #323232;
  font-size: 1.4em;
  margin-right: 1.5%;
}

.following-container {
  height: 600px;
  background-color: #f0f0f0;
  overflow-y: scroll;
}

.text-hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.profile-top-name {
  display: flex;
  justify-content: space-between;
}

.width-100 {
  width: 100%;
}

.profile-preview-handle {
  display: flex;
  align-items: center;
}

.profile-preview-username {
  font-family: 'Roboto';
  color: #5d5d5d;
  font-size: 1em;
}

.profile-preview {
  display: flex;
  flex-direction: column;
  margin-left: 1.2%;
  width: 100%;
}

.gallery-photo {
  height: 195px;
  width: 195px;
  object-fit: cover;
  border-radius: 7px;
  margin: 4px;
  cursor: pointer;
}

.feedView {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  margin-right: 35px;
}

.single-post {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.suggested-tags {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 1.5em;
  margin-top: 1%;
}

.single-post-view {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.single-post-flex {
  display: flex;
}

.inner-single-post {
  display: flex;
}

.community-post-label {
  display: flex;
  background-color: #00d290;
  height: 35px;
  justify-content: flex-end;
  padding: 5px;
  padding-right: 25px;
  align-items: center;
  font-family: 'Roboto';
  font-size: 1.3em;
  font-weight: 600;
  transition: all 0.4s ease 0s;
  color: #2b3b2e;
}

.community-post-label-feed {
  display: flex;
  background-color: #00d290;
  height: 35px;
  justify-content: space-between;
  padding: 5px;
  padding-right: 25px;
  padding-left: 25px;
  align-items: baseline;
  font-family: 'Roboto';
  font-size: 1.3em;
  font-weight: 600;
  transition: all 0.4s ease 0s;
  color: #2b3b2e;
}

.community-post-label:hover {
  background-color: #337a8c;
  color: white;
}

.single-post-preview-container {
  margin: 1.5%;
  border-radius: 5px;
}

.post-text {
  margin: 0;
  margin-top: 3%;
  margin-left: 2%;
  margin-bottom: 1.5%;
  margin-right: 10%;
}

.post-text-location {
  margin: 0;
  margin-top: 2.5%;
  margin-bottom: 1.5%;
}

.single-post-handle {
  display: flex;
  width: 100%;
}

.post-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-handle {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.handle-text {
  margin: 5px;
  cursor: pointer;
}

.handle-text:hover {
  text-decoration: underline;
}

.post-pfp {
  margin: 5px;
  height: 65px;
  width: 65px;
  object-fit: cover;
  border-style: solid;
  border-width: 3px;
  border-color: #3d4a63;
  cursor: pointer;
}

.post-photos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-images {
  height: 50%;
  width: 85%;
  object-fit: cover;
  border-radius: 10px;
}

.post-images {
  cursor: pointer;
}

.modal-post-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mb-3 {
  width: 450px;
  height: 30px;
  margin-left: 15px;
  margin-top: 10px;
}

.btn-outline-secondary {
  border-color: #fff;
  color: white;
  background-color: #6f7d96;
}

.btn-outline-secondary:hover {
  border-color: #363f52;
  background-color: #363f52;
}

.form-control {
  resize: none;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}

.form-control:focus {
  background-color: transparent;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.submit-comment-container {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  width: 100%;
  padding-top: 1.5%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.reply-text {
  font-family: 'Roboto';
  font-size: 2em;
  margin-left: 1.3%;
}

.form-control:active {
  background-color: transparent;
}

.comment-submit {
  display: flex;
  justify-content: flex-end;
}

.post-button {
  border-radius: 150px;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 100px;
}

.post-btn-container {
  display: flex;
  justify-content: flex-end;
}

.input-form-container {
  margin-left: 25px;
}

.logged-in-container {
  display: flex;
  align-items: center;
}

.example {
  display: flex;
  flex-direction: column;
}

.description-input {
  width: 100%;
  min-height: 100px;
  height: unset;
}

.mapContainer {
  height: 300px;
  width: 300px;
  border-radius: 20px;
}

.signup-label {
  color: #3e3e3e;
  font-family: 'Roboto';
  font-weight: 500;
}

.signup-input:active {
  background-color: #dadada;
  color: black;
}

.signup-input:focus {
  background-color: #dadada;
  color: black;
}

.signup-container {
  display: flex;
  flex-direction: column;
}

.sub {
  color: #878787 !important;
}

.first-input {
  margin-top: 0;
}

.create-account-text {
  font-family: 'Roboto';
  font-weight: 600;
  margin: 0;
  margin-left: 33px;
  margin-top: 4%;
  font-size: 1.5em;
}

.signup-username {
  display: flex;
  margin: 0;
  height: 37.5px;
}

.input-group-text {
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input-radius {
  border-radius: 0 0.25rem 0.25rem 0;
}

.single-post-img {
  width: 650px;
  height: 450px;
  object-fit: cover;
}

.single-post-container {
  margin: 50px;
}

.image-rec-container {
  background-color: #fff;
  overflow-y: auto;
}

.image-single-post-container {
  display: flex;
  justify-content: space-evenly;
}

.test {
  font-size: 30px;
}

.community-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.community-cards-item {
  display: flex;
  padding: 1rem;
  @media (min-width: 40rem) {
    width: 50%;
  }
  @media (min-width: 56rem) {
    width: 33.3333%;
  }
}

.add-post-nav {
  cursor: pointer;
  height: 35px;
  width: 35px;
  margin-right: 20px;
}

.community-card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 350px;
  height: 400px;
}

.community-card-image {
  display: flex;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 95%;
  height: 70%;
  margin: 10px;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);

  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);

  @media (min-width: 40rem) {
    &::before {
      padding-top: 66.6%;
    }
  }
}

.community-card-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.community-card-title {
  color: black;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}

.community-card-text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: center;
}

.community-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.community-button {
  display: flex;
  justify-content: center;
}

.community:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.communitySinglePix {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 250px;
  margin-bottom: 25px;
}

.community-search-title {
  position: absolute;
  top: 15%;
  font-family: 'Roboto';
  font-weight: 700;
  color: #373737;
  font-size: 1.5em;
  text-align: center;
}

.searchbar {
  border-radius: 25px;
  box-shadow: inset 0 0 5px grey;
  padding-left: 25px;
  position: absolute;
  right: 25%;
  display: block;
  margin: 0;
  color: inherit;
  width: 50%;
  height: 50px;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  transition: box-shadow var(--transitionDuration);
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.searchCommunitybutton {
  position: absolute;
  border-radius: 0 25px 25px 0;
  height: 50px;
  right: 25%;
  background-color: #00d290;
  border: none;
  transition: all 0.4s ease 0s;
}

.community-magPic {
  height: 30px;
  width: 50px;
}

.searchCommunitybutton:hover {
  background-color: #00ae73;
}

.followbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(60, 60, 232, 0.749);
  border-radius: 25px;
  height: 33px;
  width: 80px;
  color: white;
  margin-bottom: 15px;
  margin-top: 5px;
}

.community-first-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.community-second-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.communityPic {
  display: flex;
  flex-direction: column;
  height: 250px;
}

.communityText {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
}

.communityText2 {
  color: white;
  font-size: 25px;
}

.commentsAndShares {
  display: flex;
  align-items: center;
  width: 100%;
}

.likesAndDislikes {
  display: flex;
  justify-content: space-around;
}

.likes {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 3%;
}
.dislikes {
  margin-left: 3%;
  margin-right: 3%;
}

.commentRepliesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.commentIcon {
  height: 2em;
  width: 2em;
  margin-top: 8px;
}

.commentIcon:hover {
  text-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.025);
}

.seeReplies {
  margin: 0;
  align-self: center;
}

/* .seeReplies:hover {
  text-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.025);
} */

.see-replies-container {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding-right: 3%;
  margin-bottom: 3%;
}

.no-replies-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 3%;
}

.replies-button {
  width: 5%;
  height: 5%;
  margin-left: 2%;
}

.likeIcon {
}

.likeIcon:hover {
  text-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.025);
}

.likes-number-active {
  font-family: 'Roboto';
  color: white;
  font-size: 1em;
  font-weight: 600;
  pointer-events: none;
  position: absolute;
  margin: 0;
}

.dislikes-number {
  font-family: 'Roboto';
  padding-left: 3px;
  padding-top: 2px;
  color: white;
  font-size: 1em;
  font-weight: 600;
  pointer-events: none;
  position: absolute;
  margin: 0;
}

.likes-number-unactive {
  font-family: 'Roboto';
  color: black;
  font-size: 1em;
  font-weight: 600;
  pointer-events: none;
  position: absolute;
  margin: 0;
}

.dislikeIcon {
  padding-top: 2px;
  height: 35px;
  width: 35px;
}

.commentContainer {
  display: flex;
  height: 500px;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}

.singleComment {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 700px;
  background-color: rgba(224, 232, 240, 0.879);
  justify-content: center;
  border-radius: 20px;
  justify-content: space-evenly;
}

.commentHeader {
  background-color: rgba(60, 78, 96, 0.879);
  padding: 20px;
  display: flex;
}

.commentImg {
  background-color: rgb(220, 150, 150);
  border-radius: 150px;
  height: 50px;
  width: 50px;
}

.commentWriting {
  padding: 40px;
}

.commentShareBar {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.single-post-view-container {
  display: flex;
  width: 50%;
  height: 75%;
  margin: 50px;
  background-color: white;
  border-radius: 15px;
}

.single-post-view-img {
  /* height: 30%; */
  width: 80%;
  border-radius: 15px;
}

.single-post-view-img {
  cursor: pointer;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 3%;
}

.single-post-img-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 1%;
  margin-left: 1.3%;
  margin-bottom: 3%;
}

.page-container {
  display: flex;
}

.rec-container {
  display: flex;
  margin: 50px;
}

.description-container {
  display: flex;
}

.reply-comment-button {
  height: 50px;
  width: 65px;
}

.single-post-feedback {
  display: flex;
  align-items: center;
}
.all-comment-preview-container {
  display: flex;
  flex-direction: row;
}

.commentPreviewContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.commentHeader {
  display: flex;
}

.coment-handle {
  display: flex;
  flex-direction: row;
}

.singleCommentPreview {
  display: flex;
  height: auto;
  width: 100%;
  border: solid 1px #c7c7c7;
  justify-content: center;
  border-radius: 20px;
  justify-content: space-evenly;
  margin: 10px;
  padding: 25px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}
.communityBio {
  font-family: 'Roboto';
  font-weight: 400;
  color: white;
  margin: 0;
  height: auto;
  padding-bottom: 10px;
}

.underCommunity {
  border-bottom: solid #3d4a63 1.5px;
}

.profilePagePhoto {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.time-ago {
  color: grey;
  font-family: 'Roboto';
  font-weight: 400;
  margin-left: 10px;
}

/* Container holding the image and the text */
.welcomePhotoContainer {
  align-items: center;
  margin-bottom: 30px;
  overflow: hidden; /*hide bounds of image */
  margin: 0; /*reset margin of figure tag*/
}

.welcomePhoto {
  display: block; /*remove inline-block spaces*/
  width: 100%; /*make image streatch*/
  margin: -10.875% 0;
}

.community-discover {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  text-align: center;
  margin-bottom: 3%;
}

.landing-community-preview {
  color: black;
}

.landing-community-preview:hover {
  color: black;
  text-decoration: none;
}

.onPhotoText {
  margin-top: 20px;
  width: 275px;
  color: black;
}

.introContainer {
  margin-top: 3%;
}

.welcomePageContent {
  padding: 2%;
}

.samplesDisplay {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-text-button {
  color: white;
  margin: 1em;
  cursor: pointer;
}

.nav-text-button:hover {
  color: #00d290;
  text-decoration: none;
}

.sampleContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  width: 20%;
  border-radius: 10px;
  margin-top: 1%;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.sampleContainer:hover {
  border-bottom: solid #181818aa 4px;
  color: rgb(55, 55, 55);
  text-decoration: none;
  transform: translateY(-3px) scale(1.025);
}

.footer {
  display: flex;
  height: 5%;
  /* background-color: rgba(230, 230, 230, 0.893); */
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

.goatIcon {
  height: 3%;
  width: 3%;
  padding-right: 10px;
  margin-bottom: 10px;
}

.location-modal {
  padding: 45px;
}

.post-button-location {
  background-color: #3d4a63;
  border-radius: 150px;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 100px;
}

.signup-input {
  background-color: #dadada;
  color: black;
}

.signin-signup {
  display: flex;
}

.home-feed-container {
  display: flex;
  margin: 3%;
}

.map-container {
  height: 100%;
  width: 40%;
  left: 57%;
  position: fixed;
  top: 12.5%;
}

.welcome-container {
  width: 50px;
}

.home-feed-view {
  display: flex;
  background-color: #dadada;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  width: 50%;
  margin-right: 35px;
  padding: 1%;
}

.label-container-header {
  background-color: #3d4a63;
  font-size: 2.3em;
  color: white;
  font-family: 'Roboto';
  font-weight: 500;
  padding-left: 5%;
}

.label-container {
  margin-top: 117px;
  position: fixed;
  top: 0;
  height: 450px;
  width: 35%;
  overflow-y: auto;
}

.labels-container {
  display: flex;
  margin: 0.5%;
}

.individual-labels-delete {
  background-color: #dadada;
  color: #2c2c2c;
  font-size: 1.2em;
  font-family: 'Roboto';
  padding: 5px;
  border-radius: 5px 0 0 5px;
}

.individual-labels-delete:hover {
  background-color: #a8a8a8;
  cursor: pointer;
}

.individual-labels {
  background-color: #dadada;
  color: #2c2c2c;
  font-size: 1.2em;
  font-family: 'Roboto';
  padding: 5px;
  border-radius: 0 5px 5px 0;
}

.single-post-break {
  border-top: 1px solid #3d4a63;
}

.replies {
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 1%;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.3em;
}

.testing {
  height: 80vh;
  object-fit: contain;
}

.link-to-post {
  color: black;
  display: block;
}

.link-to-community {
  color: black;
  display: block;
}

.link-to-community:hover {
  text-decoration: none;
  color: black;
}

.link-to-post:hover {
  text-decoration: none;
  color: black;
}

.post-feed-preview-info {
  width: 100%;
}

.post-info {
  width: 100%;
}

.pfp-col {
  height: 100%;
}

.edit-profile-container {
  display: flex;
}

.edit-profile-form-container {
  display: flex;
}

.choose-community {
  display: flex;
  align-items: baseline;
}

.choose-community-label {
  margin-right: 15px;
}

.display-img-edit {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.edit-profileimg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic-form-text {
  color: white;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 0;
}

.profileimg-button {
  margin: 0 !important;
}

.edit-form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2%;
}

.edit-form-container-outer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.edit-form-inner-middle-container {
  display: flex;
  flex-direction: column;
}

.bio-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bio-box {
  margin-top: 25%;
}

.bottom-form-container {
  display: flex;
  justify-content: space-between;
}

.add-post-img {
  height: 40em;
  width: 95%;
  object-fit: contain;
}

.vid-container {
  background-color: #f0f0f0;
  height: 30em;
  width: 20em;
}

.delete-button {
  align-self: flex-end;
  margin-right: 1%;
}

.post-info-inner {
  display: flex;
}

.popup-community-tag {
  background-color: #00d290;
  color: #2b3b2e;
  font-family: 'Roboto';
  text-align: end;
  font-weight: 600;
  font-size: 1em;
  margin: 0;
  padding-right: 10px;
}

.popup-community-tag:hover {
  background-color: #337a8c;
  color: #fff;
  cursor: pointer;
}

.popup-loc-name {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 1.2em;
  color: black;
  margin: 0;
  margin-top: 5px;
}

.popup-loc-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.popup-body {
  display: flex;
  flex-direction: column;
}

.popup-body-text {
  font-family: 'Roboto';
  font-weight: 400;
  margin-top: 3px;
  margin-bottom: 3px;
}

._loading_overlay_wrapper {
  position: fixed !important;
  height: 300vh;
  width: 100%;
}

._loading_overlay_content {
  padding-top: 55%;
}

.single-location-address {
  font-family: 'Roboto';
  font-size: 1.2em;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 10px;
}
