@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: sans-serif;
  padding: 0;
  padding-top: 65px;
  margin: 0;
  background-color: #53658a;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.marker {
  object-fit: fill;
  /* object-position: 100px 50%; */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3d4a63;
  height: 75px;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 5;
}

.nav-group {
  display: flex;
}

.nav-title {
  color: white;
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 700;
  margin: 0;
  margin-left: 20px;
}

.nav-logo {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.display-img {
  height: 100px;
  width: 175px;
}

.placeholder {
  background-color: grey;
}

.file-label {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.exit-add-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-bottom: solid #53658a 1px;
}

.exit-btn {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 5px;
  color: white;
}

.exit-btn:hover {
  color: red;
  text-decoration: none;
}

.custom-file-label {
  display: unset;
}

.modal-content {
  height: auto;
  min-height: 425px;
  display: flex;
  flex-direction: column;
  background-color: #3d4a63;
}

.add-post-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.allProfilesContainer {
  display: flex;
  flex-direction: column;
}

.profileSampleView {
  display: flex;
  background: rgb(199, 196, 196);
  border: dashed black;
  justify-content: space-around;
  border-radius: 10px;
}

.profileContainer {
  background: #53658a;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  height: 100%;
  margin: 5px;
}

.profileImgContentContainer {
  /* display: flex; */
  padding: 20px;
}

.sticky {
  position: fixed;
  left: 60.2%;
  top: 20%;
}

.profileMapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  height: 500px;
  width: 500px;
  border-radius: 20px;
  margin: 25px;
  margin-top: 65px;
  object-fit: cover;
}

.profileInfo {
  display: flex;
  /* justify-content: space-around; */
}
.profile-follows {
  display: flex;
}

.first-list {
  margin: 0;
  margin-left: 0;
  margin-right: 25px;
  margin-top: 10px;
  color: white;
  font-family: 'Roboto';
  font-weight: 400;
}

.profile-info-text {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  color: white;
  font-family: 'Roboto';
  font-weight: 400;
}

.profilePagePhoto {
  background: rgb(249, 111, 111);
  border-radius: 150px;
  border-style: solid;
  border-width: 7px;
  border-color: #3d4a63;
  height: 5%;
}
.profilePagePhoto-Community {
  background: rgb(249, 111, 111);
  border-radius: 150px;
  border-style: solid;
  border-width: 7px;
  border-color: #3d4a63;
  display: flex;
  height: 250px;
  width: auto;
  margin: 25px;
}

.followButton {
  background: rgba(60, 60, 232, 0.749);
  border-radius: 25px;
  height: 33px;
  width: 60px;
  color: white;
  margin-bottom: 15px;
  margin-top: 5px;
}

.follow-button {
  background-color: #3d4a63;
  border-radius: 150px;
  margin-bottom: 12px;
  margin-top: 5px;
}

.profile-username {
  margin: 0;
  margin-bottom: 5px;
  font-family: 'Roboto';
  color: #c8cfde;
  font-size: 1em;
}
.profile-name {
  margin: 0;
  margin-top: 5px;
  font-family: 'Roboto';
  color: white;
  font-weight: 600;
  font-size: 2em;
}

.profileBio {
  font-family: 'Roboto';
  font-weight: 400;
  color: white;
  margin: 0;
  height: auto;
  padding-bottom: 10px;
}

.underline {
  border-bottom: solid #3d4a63 1.5px;
}

.contentContainer {
  height: auto;
  width: 825px;
}

.buttonContainer {
  border-bottom: solid #3d4a63 3px;
}

.profileFeedButton {
  width: 412px;
  height: 50px;
  color: #bccdec;
  font-size: 1.2em;
  font-family: 'Roboto';
  font-weight: 600;
}

.profileFeedButton:hover {
  border-bottom: solid #7092d4 4px;
  color: white;
  text-decoration: none;
}

.selected-feed {
  border-bottom: solid #7092d4 4px;
  color: white;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5.5px;
}

.gallery-photo {
  height: 195px;
  width: 195px;
  object-fit: cover;
  background-color: red;
  margin: 4px;
}

.feedView {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  margin-right: 35px;
}

.single-post {
  display: flex;
  height: auto;
  padding: 10px;
}

.community-post-label {
  display: flex;
  background-color: lightblue;
  height: 35px;
  justify-content: flex-end;
  padding: 5px;
  padding-right: 25px;
  align-items: center;
  font-family: 'Roboto';
  font-size: 1.3em;
  font-weight: 600;
}

.community-post-label:hover {
  background-color: lightskyblue;
}

.single-post-preview-container {
  background-color: white;
  margin: 1%;
  border-radius: 5px;
}

.post-text {
  margin: 0;
  margin-top: 3%;
  margin-left: 2%;
  margin-bottom: 5%;
  margin-right: 10%;
}

.post-header {
  display: flex;
  flex-direction: column;
}

.post-handle {
  display: flex;
  margin: 5px;
}

.handle-text {
  margin: 5px;
}

.post-pfp {
  margin: 5px;
  height: 65px;
  width: 65px;
  object-fit: cover;
  border-style: solid;
  border-width: 3px;
  border-color: #3d4a63;
}

.post-photos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-images {
  height: 50%;
  width: 85%;
  object-fit: cover;
  border-radius: 10px;
  border: solid 2px #8793a9;
}

.post-images {
  cursor: pointer;
}

.modal-post-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mb-3 {
  width: 450px;
  height: 30px;
  margin-left: 15px;
  margin-top: 10px;
}

.btn-outline-secondary {
  border-color: #fff;
  color: white;
  background-color: #6f7d96;
}

.btn-outline-secondary:hover {
  border-color: #363f52;
  background-color: #363f52;
}

.form-control {
  resize: none;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}

.form-control:focus {
  background-color: transparent;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:active {
  background-color: transparent;
}

.post-button {
  background-color: #3d4a63;
  border-radius: 150px;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 100px;
}

.post-btn-container {
  display: flex;
  justify-content: flex-end;
}

.input-form-container {
  margin-left: 25px;
}

.logged-in-container {
  display: flex;
}

.example {
  display: flex;
  flex-direction: column;
}

.description-input {
  width: 100%;
  min-height: 100px;
  height: unset;
}

.mapContainer {
  height: 300px;
  width: 300px;
  border-radius: 20px;
}

.signup-label {
  color: white;
}

.signup-input {
  background-color: white;
  color: black;
}

.signup-input:active {
  background-color: white;
  color: black;
}

.signup-input:focus {
  background-color: white;
  color: black;
}

.signup-container {
  display: flex;
  flex-direction: column;
}

.sub {
  color: #dee1e8 !important;
}

.signup-username {
  display: flex;
  margin: 0;
}

.input-group-text {
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input-radius {
  border-radius: 0 0.25rem 0.25rem 0;
}

.single-post-img {
  width: 650px;
  height: 450px;
  object-fit: cover;
}

.single-post-container {
  margin: 50px;
}

.image-rec-container {
  background-color: #fff;
  overflow-y: auto;
}

.image-single-post-container {
  display: flex;
  justify-content: space-evenly;
}

.test {
  font-size: 30px;
}

.community-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.community-cards-item {
  display: flex;
  padding: 1rem;
  @media (min-width: 40rem) {
    width: 50%;
  }
  @media (min-width: 56rem) {
    width: 33.3333%;
  }
}

.community-card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 350px;
  height: 400px;
}

.community-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 95%;
  height: 70%;
  margin: 10px;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);

  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);

  @media (min-width: 40rem) {
    &::before {
      padding-top: 66.6%;
    }
  }
}

.community-card-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.community-card-title {
  color: black;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}

.community-card-text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: center;
}

.community-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.community-button {
  display: flex;
  justify-content: center;
}

.community:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.communitySinglePix {
  display: flex;
  width: 100%;
  height: 600px;
  margin-bottom: 25px;
}

.searchbar {
  position: absolute;
  top: 45%;
  right: 30%;
  left: 20%;
  display: block;
  margin: 0;
  padding: var(--inputPaddingV) var(--inputPaddingH);
  color: inherit;
  width: 55%;
  height: 50px;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  transition: box-shadow var(--transitionDuration);
}

.searchCommunitybutton {
  position: absolute;
  top: 45%;
  width: 20%;
  height: 50px;
  right: 25%;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.community-magPic {
  height: 45px;
  width: 50px;
}

.searchCommunitybutton:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.followbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(60, 60, 232, 0.749);
  border-radius: 25px;
  height: 33px;
  width: 80px;
  color: white;
  margin-bottom: 15px;
  margin-top: 5px;
}

.communityPic {
  display: flex;
}

.communityText {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
}

.communityText2 {
  color: white;
  font-size: 25px;
}

.commentsAndShares {
  display: flex;
}

.likesAndDislikes {
  display: flex;
  justify-content: space-around;
}

.likes {
  margin-left: 3%;
  margin-right: 3%;
}
.dislikes {
  margin-left: 3%;
  margin-right: 3%;
}

.commentRepliesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80px;
  width: 170px;
}

.commentIcon {
  height: 40px;
  width: 40px;
  margin-top: 21px;
}

.commentIcon:hover {
  text-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.025);
}

.seeReplies {
  margin-top: 21px;
  align-self: center;
}

.seeReplies:hover {
  text-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.025);
}

.likeIcon {
  height: 40px;
  width: 40px;
  margin-top: 21px;
}

.likeIcon:hover {
  text-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.025);
}

.dislikeIcon {
  height: 40px;
  width: 40px;
  margin-top: 21px;
}

.dislikeIcon:hover {
  text-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.025);
}

.commentContainer {
  display: flex;
  height: 500px;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}

.singleComment {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 700px;
  background-color: rgba(224, 232, 240, 0.879);
  justify-content: center;
  border-radius: 20px;
  justify-content: space-evenly;
}

.commentHeader {
  background-color: rgba(60, 78, 96, 0.879);
  padding: 20px;
  display: flex;
}

.commentImg {
  background-color: rgb(220, 150, 150);
  border-radius: 150px;
  height: 50px;
  width: 50px;
}

.commentWriting {
  padding: 40px;
}

.commentShareBar {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.single-post-view-container {
  display: flex;
  width: 50%;
  height: 75%;
  margin: 50px;
  background-color: white;
  border-radius: 15px;
}

.single-post-view-img {
  height: 30%;
  width: 90%;
}

.single-post-view-img {
  cursor: pointer;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 3%;
}

.single-post-img-container {
  display: flex;
  margin-right: 1%;
  margin-bottom: 3%;
}

.page-container {
  display: flex;
}

.rec-container {
  display: flex;
  margin: 50px;
}

.description-container {
  display: flex;
}

.reply-comment-button {
  height: 50px;
  width: 65px;
}

.single-post-feedback {
  display: flex;
  align-items: center;
}
.all-comment-preview-container {
  display: flex;
  flex-direction: row;
}

.commentPreviewContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.singleCommentPreview {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 80%;
  background-color: rgba(224, 232, 240, 0.879);
  justify-content: center;
  border-radius: 20px;
  justify-content: space-evenly;
  margin: 10px;
  padding: 25px;
}
.communityBio {
  font-family: 'Roboto';
  font-weight: 400;
  color: white;
  margin: 0;
  height: auto;
  padding-bottom: 10px;
}

.underCommunity {
  border-bottom: solid #3d4a63 1.5px;
  width: 40%;
}

.profilePagePhoto {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.time-ago {
  color: grey;
  font-family: 'Roboto';
  font-weight: 400;
  margin-left: 10px;
}

/* Container holding the image and the text */
.welcomePhotoContainer {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 30px;
  overflow: hidden; /*hide bounds of image */
  margin: 0; /*reset margin of figure tag*/
}

.welcomePhoto {
  display: block; /*remove inline-block spaces*/
  width: 100%; /*make image streatch*/
}

.welcomePhoto {
  /* crops image...must be added separately */
  margin: -10.875% 0;
}

.onPhotoText {
  margin-top: 20px;
  width: 275px;
  color: black;
}

.introContainer {
  margin-top: 3%;
}

.welcomePageContent {
  padding: 2%;
}

.samplesDisplay {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.sampleContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: rgba(152, 148, 148, 0.612);
  width: 20%;
  border-radius: 10px;
  margin-top: 1%;
}

.sampleContainer:hover {
  border-bottom: solid #181818aa 4px;
  color: rgb(55, 55, 55);
  text-decoration: none;
  transform: translateY(-3px) scale(1.025);
}

.footer {
  display: flex;
  height: 5%;
  background-color: rgba(230, 230, 230, 0.893);
  align-items: center;
  justify-content: center;
}

.goatIcon {
  height: 3%;
  width: 3%;
  padding-right: 10px;
  margin-bottom: 10px;
}

.location-modal {
  padding: 45px;
}

.post-button-location {
  background-color: #3d4a63;
  border-radius: 150px;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 100px;
}

.signup-input {
  background-color: white;
  color: black;
  margin-bottom: 25px;
}

/* single location stuff here */

.stars {
  display: flex;
}
.stars img {
  width: 33px;
  height: 33px;
}
.single-location-view-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 75%;
  margin: 50px;
}

.single-location-view-img {
  height: 44%;
  width: 44%;
}

.single-location-feedback {
  display: flex;
  align-items: center;
}

/* .location-photos {
  width: 33%;
  height: 33%
} */

.home-feed-container {
  display: flex;
  margin: 3%;
}

.map-container {
  height: 60%;
  width: 40%;
  background-color: red;
}

.welcome-container {
  width: 50px;
}

.home-feed-view {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  width: 50%;
  margin-right: 35px;
}

.label-container-header {
  background-color: #3d4a63;
  font-size: 2.3em;
  color: white;
  font-family: 'Roboto';
  font-weight: 500;
  padding-left: 5%;
}

.label-container {
  margin-top: 117px;
  position: fixed;
  top: 0;
  height: 450px;
  width: 35%;
  overflow-y: auto;
}

.individual-labels {
  height: 40px;
  padding: 2%;
  font-size: 1.5em;
  font-family: 'Roboto';
}

.single-post-break {
  border-top: 1px solid #3d4a63;
}

.replies {
  margin-top: 2%;
  margin-left: 12%;
  margin-bottom: 1%;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.3em;
}

.testing {
  height: 80vh;
  object-fit: contain;
}

.link-to-post {
  color: black;
  display: block;
}

.link-to-community {
  color: black;
  display: block;
}

.link-to-community:hover {
  text-decoration: none;
  color: black;
}

.link-to-post:hover {
  text-decoration: none;
  color: black;
}

.post-feed-preview-info {
  width: 100%;
}

.post-info {
  width: 100%;
}

.pfp-col {
  height: 100%;
}

.edit-profile-container {
  display: flex;
}
